---
http_interactions:
- request:
    method: get
    uri: https://demo.io.ki/api/platform/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Version:
      - '20210101'
      X-Client-Identifier:
      - dev.platformapi.test.backend
      X-Client-Secret:
      - "<X-Client-Secret>"
      X-Client-Version:
      - 1.0.0
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - de
      Etag:
      - W/"1b5c6ce711339371482df0c82e23306e"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"prd_518a82c3-2e77-4ff3-953f-2aa3cdb6611c","created_at":"2020-11-18T12:30:36Z","updated_at":"2022-07-27T07:04:38Z","version":85,"ad_hoc_bookable":true,"description":"","name":"kvgOF
        Hopper - Ost","prebookable":true,"ride_options":{"passengers":{"types":[{"type":"adult"},{"type":"child"},{"type":"infant"}],"wheelchair":true,"walker":true,"public_transport_ticket":true,"bahncard":false,"blue_badge":true,"name_required_if_no_public_transport_ticket":false},"book_for_others":true,"destination_time_based_matching":true,"max_passengers":5,"max_storage_spaces":0,"max_wheelchairs":1,"max_walkers":1,"prebooking_threshold":{"min":180,"max":86400}},"ride_rating_criteria":["ride_rating","waiting_time_rating","punctuality_rating"],"service_time_info":"","timezone":{"identifier":"Europe/Berlin","utc_offset":3600},"announcement":null,"area":{"coordinates":[[[[8.986868251182585,50.07481082830522],[8.981601770439227,50.07713035125073],[8.973960210132333,50.07878708465515],[8.954443252071883,50.07845574255419],[8.951551850866338,50.07845574255419],[8.949544156498035,50.07892155537706],[8.944673631500365,50.08102150230859],[8.942542776826883,50.08512345887357],[8.941916561018331,50.08631748763578],[8.939652304536281,50.08661813061111],[8.934178281248649,50.094011269264],[8.937867381961411,50.09356050181145],[8.942029599573857,50.0940484024068],[8.941[...]
