---
http_interactions:
- request:
    method: get
    uri: https://demo.io.ki/api/platform/providers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Version:
      - '20210101'
      X-Client-Identifier:
      - dev.platformapi.test.backend
      X-Client-Secret:
      - "<X-Client-Secret>"
      X-Client-Version:
      - 1.0.0
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - de
      Etag:
      - W/"c1066461de7c6d63e96ab752c07b827a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"prv_a0e7939f-2352-43d3-8328-25f532931672","created_at":"2021-04-13T08:36:22Z","updated_at":"2022-07-07T17:52:21Z","version":18,"city":"Frankfurt
        am Main","country_code":"DE","currency":"EUR","current_tos_date":"2021-01-01","features":{"failed_payment_handling":false,"payment":true},"logpay_payment_method_types":["card","sepa_debit","paypal"],"merchant_name":"ioki
        GmbH","name":"Webbooking Test Provider","personal_discount_payment_method_types":["psp_provided","service_credits","external_payment"],"postal_code":"60322","psp":"logpay","ride_payment_method_types":["psp_provided","cash","service_credits","external_payment"],"service_credit_payment_method_types":["psp_provided"],"street_name":"An
        der Welle","street_number":"3","stripe_payment_method_types":[],"tip_payment_method_types":["psp_provided"],"service_credit_options":{"packages":[{"cost":3500,"currency":"EUR","value":4000,"cost_object":{"amount":3500,"currency":"EUR","vat_rate":0.0,"type":"money"},"value_object":{"amount":4000,"currency":"EUR","vat_rate":0.0,"type":"money"}},{"cost":2700,"currency":"EUR","value":3000,"cost_object":{"amount":2700,"currency":"EUR","vat_rate":0.0,"type":"money"},"value_object":{"amount":3000,"currency":"EUR","vat_rate":0.0,"type":"money"}}]},"type":"provider"}],"meta":{"page":1,"last_page":true}}'
  recorded_at: Thu, 21 Jul 2022 12:08:15 GMT
recorded_with: VCR 6.0.0
