---
http_interactions:
- request:
    method: get
    uri: https://demo.io.ki/api/platform/client
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Version:
      - '20210101'
      X-Client-Version:
      - 0.0.1
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"allows_external_payment":false,"current_version":"0.0.1","identifier":"dev.platformapi.test.backend","min_version":"0.0.1","name":"Client for ioki platform","type":"client"}}'
  recorded_at: Tue, 25 Oct 2022 14:42:37 GMT
recorded_with: VCR 6.0.0
