---
http_interactions:
- request:
    method: get
    uri: https://demo.io.ki/api/platform/providers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Version:
      - '20210101'
      X-Client-Identifier:
      - dev.platformapi.test.backend
      X-Client-Secret:
      - "<X-Client-Secret>"
      X-Client-Version:
      - 0.0.1
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - de
      Etag:
      - W/"a6d7faab2533aaeaab2dc3d472eebe0c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"prv_a0e7939f-2352-43d3-8328-25f532931672","created_at":"2021-04-13T08:36:22Z","updated_at":"2021-08-23T13:56:12Z","version":12,"city":"Frankfurt
        am Main","country_code":"DE","currency":"EUR","current_tos_date":"2021-01-01","logpay_payment_method_types":[],"merchant_name":"ioki
        GmbH","name":"Webbooking Test Provider","payment_method_types":["cash","service_credits","external_payment"],"personal_discount_payment_method_types":["service_credits","external_payment"],"postal_code":"60322","psp":"no_psp","ride_payment_method_types":["cash","service_credits"],"service_credit_payment_method_types":[],"street_name":"An
        der Welle","street_number":"3","stripe_payment_method_types":[],"tip_payment_method_types":[],"service_credit_options":{"packages":[]},"type":"provider"}],"meta":{"page":1,"last_page":true}}'
  recorded_at: Tue, 12 Oct 2021 10:33:24 GMT
- request:
    method: get
    uri: https://demo.io.ki/api/platform/providers/prv_a0e7939f-2352-43d3-8328-25f532931672/users/usr_aa88fd04-c8d2-4d7b-bbea-2d6096bf5f28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Version:
      - '20210101'
      X-Client-Identifier:
      - dev.platformapi.test.backend
      X-Client-Secret:
      - "<X-Client-Secret>"
      X-Client-Version:
      - 0.0.1
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - de
      Etag:
      - W/"52639de9f22d7dd3aba4de3f48e55526"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"usr_aa88fd04-c8d2-4d7b-bbea-2d6096bf5f28","created_at":"2021-09-20T08:13:18Z","updated_at":"2021-10-12T10:33:02Z","version":22,"external_id":"usr_ae26ac71-2547-43ea-a2a5-7fe339a0d859","first_name":"Andreas","last_name":"Hellwig","locale":"en","lock_reason":null,"lock_type":null,"locked_at":null,"phone_number":"+16465550197","terms_accepted_at":"2021-09-20T08:13:18Z","email":null,"type":"user"}}'
  recorded_at: Tue, 12 Oct 2021 10:33:25 GMT
- request:
    method: post
    uri: https://demo.io.ki/api/platform/providers/prv_a0e7939f-2352-43d3-8328-25f532931672/users/usr_aa88fd04-c8d2-4d7b-bbea-2d6096bf5f28/request_tokens
    body:
      encoding: UTF-8
      string: '{"data":{"client_identifier":"dev.passengerapi.test.backend"}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Version:
      - '20210101'
      X-Client-Identifier:
      - dev.platformapi.test.backend
      X-Client-Secret:
      - "<X-Client-Secret>"
      X-Client-Version:
      - 0.0.1
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - de
      Etag:
      - W/"6ec71d4b62ae5459da0af8563d80605d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"tok_e314348e-0f34-4c21-968f-32d570ebc5bd","created_at":"2021-10-12T10:33:25Z","updated_at":"2021-10-12T10:33:25Z","token":"d7V9BfSZsrZknpQ93Y4fPiJF","user_id":"usr_aa88fd04-c8d2-4d7b-bbea-2d6096bf5f28","type":"passenger_request_token"}}'
  recorded_at: Tue, 12 Oct 2021 10:33:25 GMT
- request:
    method: patch
    uri: https://demo.io.ki/api/passenger/user/language
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Version:
      - '1'
      X-Client-Identifier:
      - dev.passengerapi.test.backend
      X-Client-Secret:
      - "<X-Client-Secret>"
      X-Client-Version:
      - 0.0.1
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Etag:
      - W/"d33ee4b45836cd8ad2fba7797f6b4ae5"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"usr_aa88fd04-c8d2-4d7b-bbea-2d6096bf5f28","created_at":"2021-09-20T08:13:18Z","updated_at":"2021-10-12T10:33:02Z","version":22,"airship_named_user_id":null,"allow_marketing":null,"analytics_tracking":null,"current_terms_accepted":true,"display_name":"Andreas
        H.","failed_payments":false,"first_name":"Andreas","last_name":"Hellwig","locale":"en","logpay_customer_set":false,"minimum_age_confirmed":false,"phone_number":"+16465550197","referral_code":"WTPNGLWNC7","referring_user_set":false,"registered":true,"remaining_referrals":0,"unique_customer_id":"TW288B","email":null,"type":"user"}}'
  recorded_at: Tue, 12 Oct 2021 10:33:25 GMT
- request:
    method: get
    uri: https://demo.io.ki/api/passenger/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Version:
      - '1'
      X-Client-Identifier:
      - dev.passengerapi.test.backend
      X-Client-Secret:
      - "<X-Client-Secret>"
      X-Client-Version:
      - 0.0.1
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Etag:
      - W/"d33ee4b45836cd8ad2fba7797f6b4ae5"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"usr_aa88fd04-c8d2-4d7b-bbea-2d6096bf5f28","created_at":"2021-09-20T08:13:18Z","updated_at":"2021-10-12T10:33:02Z","version":22,"airship_named_user_id":null,"allow_marketing":null,"analytics_tracking":null,"current_terms_accepted":true,"display_name":"Andreas
        H.","failed_payments":false,"first_name":"Andreas","last_name":"Hellwig","locale":"en","logpay_customer_set":false,"minimum_age_confirmed":false,"phone_number":"+16465550197","referral_code":"WTPNGLWNC7","referring_user_set":false,"registered":true,"remaining_referrals":0,"unique_customer_id":"TW288B","email":null,"type":"user"}}'
  recorded_at: Tue, 12 Oct 2021 10:33:25 GMT
[...]
- request:
    method: get
    uri: https://demo.io.ki/api/passenger/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Version:
      - '1'
      X-Client-Identifier:
      - dev.passengerapi.test.backend
      X-Client-Secret:
      - "<X-Client-Secret>"
      X-Client-Version:
      - 0.0.1
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - de
      Etag:
      - W/"36a2d89ca3b7da2f0cc36aea3cc1e918"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"usr_aa88fd04-c8d2-4d7b-bbea-2d6096bf5f28","created_at":"2021-09-20T08:13:18Z","updated_at":"2021-10-12T10:33:25Z","version":23,"airship_named_user_id":null,"allow_marketing":null,"analytics_tracking":null,"current_terms_accepted":true,"display_name":"Andreas
        H.","failed_payments":false,"first_name":"Andreas","last_name":"Hellwig","locale":"de","logpay_customer_set":false,"minimum_age_confirmed":false,"phone_number":"+16465550197","referral_code":"WTPNGLWNC7","referring_user_set":false,"registered":true,"remaining_referrals":0,"unique_customer_id":"TW288B","email":null,"type":"user"}}'
  recorded_at: Tue, 12 Oct 2021 10:33:25 GMT
recorded_with: VCR 6.0.0
