---
http_interactions:
- request:
    method: get
    uri: https://demo.io.ki/api/platform/providers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Version:
      - '20210101'
      X-Client-Identifier:
      - dev.platformapi.test.backend
      X-Client-Secret:
      - "<X-Client-Secret>"
      X-Client-Version:
      - 0.0.1
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - de
      Etag:
      - W/"a6d7faab2533aaeaab2dc3d472eebe0c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"prv_a0e7939f-2352-43d3-8328-25f532931672","created_at":"2021-04-13T08:36:22Z","updated_at":"2021-08-23T13:56:12Z","version":12,"city":"Frankfurt
        am Main","country_code":"DE","currency":"EUR","current_tos_date":"2021-01-01","logpay_payment_method_types":[],"merchant_name":"ioki
        GmbH","name":"Webbooking Test Provider","payment_method_types":["cash","service_credits","external_payment"],"personal_discount_payment_method_types":["service_credits","external_payment"],"postal_code":"60322","psp":"no_psp","ride_payment_method_types":["cash","service_credits"],"service_credit_payment_method_types":[],"street_name":"An
        der Welle","street_number":"3","stripe_payment_method_types":[],"tip_payment_method_types":[],"service_credit_options":{"packages":[]},"type":"provider"}],"meta":{"page":1,"last_page":true}}'
  recorded_at: Wed, 01 Dec 2021 07:40:30 GMT
recorded_with: VCR 6.0.0
